<?xml version="1.0" encoding="UTF-8"?>

<configuration status="WARN">

    <appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-3level %logger{36} - %msg%n"/>
        </Console>

        <File name="ExceptionFile" fileName="/root/database/logs/errors.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-3level %logger{36} - %msg%n"/>
            <Filters>
                <ThresholdFilter level="fatal" onMatch="DENY" onMismatch="NEUTRAL" />
            </Filters>
        </File>
        <File name="ErrorFile" fileName="/root/database/logs/errors.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-4level %logger{36} - %msg%n"/>
            <Filters>
                <ThresholdFilter level="error" onMatch="DENY" onMismatch="NEUTRAL" />
            </Filters>
        </File>
        <File name="QueriesFile" fileName="/root/database/logs/queries.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            <Filters>
                <ThresholdFilter level="warn" onMatch="DENY" onMismatch="NEUTRAL" />
            </Filters>
        </File>

    </appenders>
    <loggers>
        <root level="info">
            <appender-ref ref="ExceptionFile" level="error"/>
            <appender-ref ref="ErrorFile" level="warn"/>
            <appender-ref ref="QueriesFile" level="info"/>
        </root>
    </loggers>

</configuration>